@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');

:root{
    --cor-de-fundo:  #D8A25E;
    --cor-primaria:  #A04747;
    --cor-secundaria:#343131;
    --fonte: "Oswald", sans-serif;
}

body{
    background-color: var(--cor-de-fundo);
    color: var(--cor-primaria);
    font-family: var(--fonte);
    height: 100vh;
    margin: 0;
}

h1{
    font-size: 2rem;
    color: var(--cor-primaria);
    font-weight: 700;
}